<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <!-- welcome-file>mtables.html</welcome-file> -->
    <!-- <welcome-file>primeno.html</welcome-file> -->
    <!--  <welcome-file>contact.html</welcome-file> -->
    <!--  <welcome-file>pyramid.jsp</welcome-file> -->
    <welcome-file>mtables.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>mtables</servlet-name>
  	<servlet-class>com.logic.Mtables</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mtables</servlet-name>
  	<url-pattern>/mtables</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>primeno</servlet-name>
  	<servlet-class>com.logic.PrimeNo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>primeno</servlet-name>
  	<url-pattern>/prime</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>contact</servlet-name>
  	<servlet-class>com.logic.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>contact</servlet-name>
  	<url-pattern>/contact</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>toServlet</servlet-name>
  	<servlet-class>com.logic.Html2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>toServlet</servlet-name>
  	<url-pattern>/toservlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>toContactDb</servlet-name>
  	<servlet-class>com.jdbc.servlet.ContactMaintenance</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>toContactDb</servlet-name>
  	<url-pattern>/toContactDb</url-pattern>
  </servlet-mapping>

</web-app>
